:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}


.navitens .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navitens .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

.navitens nav a {
    text-shadow: 5px 5px 10px black;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.navitens nav a:hover {
    color: #000;
}

.navitens {
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -50px;
    margin-left: 20px;
    justify-content: space-between;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}


.bgimage {
    z-index: -1;
    position: absolute;
    font-size: 16px;
    width: 100%;
    height: 500px;
    background-image: url(../img/capahouse.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}


.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}


.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes {
    margin-top: 5px;
}

.botoes {
    margin-bottom: 2%;
}